
body {
    font-family: 'Open Sans', sans-serif;
}

 #wrapper {
    width: 100%;
    background:#202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;

width: 260px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}

.active-menu {
    background-color:#C90000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#0A0A0A;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;
	
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
	
}

.navbar-brand {
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
}


.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
 border-radius: 0px; 
}
   
}

.lf_menu
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	font-family: Tahoma;
}

.lf_menu li
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 0px;
	line-height: 0px;
	zoom: 1;
}

.lf_menu li.glue
{
	margin: 0px;
	padding: 0px;
	background: url("../img/glue_line_bg.gif") left top repeat-x;
	height: 2px;
	font-size: 0px;
	line-height: 0px;
	overflow: hidden;	
}

.lf_menu li .menu_1
{
	font-size: 12px;
	line-height: normal;
	color: #626262;
	zoom: 1;
	cursor: pointer;
	padding: 13px 39px 14px 39px;
	background: url("../img/bulet_plus.gif") 24px 22px no-repeat;
}

.lf_menu li .menu_1 span
{
	font-size: 18px;
	color: #690101;
	background: url("../img/border_dashed_red.gif") left bottom repeat-x;
}

.lf_menu li .menu_2
{
	font-size: 12px;
	line-height: normal;
	color: #626262;
	cursor: pointer;
	padding: 7px 39px 10px 39px;
}

.lf_menu li .menu_2 span
{
	font-size: 18px;
	color: #690101;
}

.lf_menu li .menu_3
{
	font-size: 12px;
	line-height: normal;
	color: #626262;
	cursor: pointer;
	padding: 5px 59px 5px 59px;
}

.lf_menu li .menu_3 span
{
	font-size: 16px;
	color: #690101;
}

.lf_menu li.act .menu_1
{
	background: url("../img/bulet_minus.gif") 24px 22px no-repeat;
}

.lf_menu li ul
{
	margin: 0px 0px 0px 10px;
	position: relative;
	padding: 1px 0px 0px 0px;
	list-style-type: none;
	background: url("../img/1px.gif") left top repeat-x;
	display: block;
	zoom: 1;
}

.lf_menu li.act>ul
{
	display: block;
}

.lf_menu li ul li
{
	padding: 0px;
	font-size: 13px;
	line-height: normal;
	zoom: 1;
	color: #212121;
	background: url("../img/1px.gif") left bottom repeat-x #e9e9e9;
}

.lf_menu li ul li div
{
	background: url("../img/2px_gray.gif") 28px bottom repeat-y;
}

.lf_menu li ul li div div
{
	background: url("../img/2px_gray.gif") right bottom repeat-y;
}

.lf_menu li ul li div div div
{
	background: url("../img/1px_white.gif") left top repeat-x;
	zoom: 1;
	padding: 0px 0px 0px 29px;
}

.lf_menu li ul li div div div div
{
	background: transparent;
	padding: 7px 0px 10px 23px;
	zoom: 1;
}

.lf_menu li ul li a
{
	color: #212121;
}

/*
.lf_menu li ul li.active
{
	color: #8a0803;
	font-weight: bolder;
	text-decoration: none;
}
*/

.lf_menu li ul li.active>div>div>div>div>a
{
	color: #fff;
	font-weight: bolder;
	text-decoration: none;
}

.lf_menu li ul li.active a span
{
	font-weight: normal;
}

.lf_menu li ul li.active>div>div>div>div
{
	background-color: #8a0803;
}

.lf_menu li ul li.act>div.menu_1_1
{
	cursor: pointer;
        background: url("../img/bulet_minus.gif") 16px 12px no-repeat;
}
.lf_menu li ul li>div.menu_1_1
{
	cursor: pointer;
	background: url("../img/bulet_plus.gif") 16px 12px no-repeat;
}

.catalogtree{ width: 350px }

.link-block{
width:100%;
margin:0 auto;
text-align:left;
}

.link-header{}
.link-left{
width:180px;
float:left;
}
.link-right{
margin:0px;
margin-left:10%; 
}

.link-footer{}


.link-table{
border-width: 1px; 
border-color: grey; 
border-style: solid;
margin-top: 20px; 
padding-bottom: 30px;
}


.link-wrapper{
   width:80%;   
}
 
.link-table{
   display:table;   

}
 
.link-row{
   display:table-row;   
}
 
.link-col{
    display:table-cell; 
}
 
.link-c50{
   width:50%;   
}
 
.link-c25{
   width:25%;   
}

.warning_msg {
    color: #b94a48;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.topbarmenu{
padding-top: 10px;
padding-bottom: 10px;
}

